# Data Science Tools and Ecosystem

## Intoduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
- popular languages for Data Science
- Commonly used libraries
- development environment open source tools

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

## Development environment open source tools used in data science

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studito Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
result = 200/60
print(result)

3.3333333333333335

## Author
Your Name